<html>
    <head>
        <title>オープンチャットコンテスト</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP" rel="stylesheet" type = "text/css">
        <link rel="stylesheet" href="../../static/css/blog.css?after">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">
    </head>
    <body>
            <div class="page-header">
                <h1><a href="/">オープンチャットコンテスト</a></h1>
            </div>
            <div class="event-section">
                <div class="title">
                    <h2>オープンチャットが大学生にプレゼントする!</h2>
                </div>
                <div class="event-description-1">
                    <h3>オープンチャットで部活動をする時のメリット</h3>
                    <p>&#x1F601;URLリンクをクリックで招待 終わり</p>
                    <p>&#x1F601;新入生も確認する1年前告知</p>
                    <p>&#x1F601;5000人同時入場まで</p>
                </div>
                <div class="event-description-2">
                    <p>このようなオープンチャットで1ヶ月間遊んでばかりしても<br> 
                       サークルの支援金最大50万円を受けることができます。<br>
                       今すぐ参加してみてください。</p>
                </div>
            </div>
            <hr width = "80%", color = "#C4C4C4" noshade />
            <div class="prize-section">
                <div class="title">
                    <h2>賞品</h2>
                </div>
                <div class="prize-table">
                    <table border="0">
                        <tr>
                            <td>
                                <img src="https://images.unsplash.com/photo-1527871369852-eb58cb2b54e2?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb" height = 300>
                            </td>
                            <td>
                                <h4>サークル支援金</h4>
                                <p>&#x1F947;大賞(1チーム):50万円</p>
                                <p>&#x1F948;最優秀賞(1チーム):20万円</p>
                                <p>&#x1F949;優秀賞(1チーム):10万円</p>
                                <p>&#x1F389;奨励賞(20チーム):一万円</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="https://images.unsplash.com/photo-1497015289639-54688650d173?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb" height = 300>
                            </td>
                            <td>
                            <h4>サークル特別紹介</h4>
                            <p>&#x1F3A5;毎日30万人が訪問するオープンチャットメイン州で<br>
                               サークルが特別紹介されます。</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="https://images.unsplash.com/photo-1568992687947-868a62a9f521?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb" height = 300>
                            </td>
                            <td>
                                <h4>特別イベント招請</h4>
                                <p>&#x1F3E2;LINE本社で開かれる特別イベントに招待されます。</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="https://images.unsplash.com/photo-1558898479-33c0057a5d12?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb" height = 355>
                            </td>
                            <td>
                                <h4>学生広報大使選定</h4>
                                <p>&#x1F9E0;オープンチャット公式学生広報大使として<br>
                                   活動できる機会が与えられます。</p>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr width = "80%", color = "#C4C4C4" noshade />
            <div class = "require-section">
                <div class="title">
                    <h2>コンテストに参加するには?</h2>
                </div>
                <div class = "require-description">
                    <div class = "participants">
                        <h3>参加対象</h3>
                        <p>&#x1F46B;大学生の誰もが</p>
                    </div>
                    <div class = "how-to">
                        <h3>参加方法</h3>
                            <p>1) サークルのチャットルームを生成してください。</p>
                            <p>2) 説明文に"OpenChat;lenge"を入れてください。</p>
                            <p>3) 12/13まで、参加者たちと対話を交わしてください。</p>
                            <p>4) 12/20まで、使用後記を応募してください。</p>
                            <p>5) 応募サンプルは下記をご参考ください。</p>
                    </div>
                    <div class = "apply-contents">
                        <h3>応募内容</h3>
                        <p>私が属しているサークルのチャットルームをオープンチャットに移してみてください。<br>
                           1ヵ月間、オープンチャットを使ってみて、活用事例とよかった点を自由な形式で応募してみてください。<br>
                           皆様の才気あふれるご使用をお待ちしております。
                        </p>
                    </div>
                    <div class = "button">
                        <a href="http://openchat-blog.line.me/"><img src="../../static/img/sample_button.png" alt="応募サンプル" height="36" border="0"></a>
                        <a href="http://openchat-blog.line.me/"><img src="../../static/img/apply_button.png" alt="応募する" height="36" border="0"></a>
                    </div>
                </div>
            </div>
            <hr width = "80%", color = "#C4C4C4" noshade />
            <div class = "share-section">
                <div class = "title">
                    <h2>友達に共有してみてください!</h2>
                </div>
                <div class = "share-description">
                    <p>コンテストに一緒に参加したいお友達にコンテストの内容を共有してみてください。</p>
                    <div class = "button">
                        <a href="https://twitter.com/intent/tweet?text=%EB%82%98%EB%9E%91%EA%B0%99%EC%9D%B4%EC%B0%B8%EC%97%AC%ED%95%98%EC%9E%90%1D&url=http://openchat-blog.line.me/"><img src="../../static/img/twitter_button.png" alt="Twitterで共有する" height="36" border="0"></a>
                        <a href='https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fopenchat-blog.line.me%2F'><img src="../../static/img/facebook_button.png" alt="Facebookで共有する" height="36" border="0"></a>
                    </div>
                </div>
            </div>
            <hr width = "80%", color = "#C4C4C4" noshade />
            <div class = "service-section">
                <div class = "title">
                    <h2>オープンチャットとは?</h2>
                </div>
                <div class = "service-description">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/suTfLbST1f4" frameborder="0" allow="accelerometer; autoplay=1; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <p>LINEオープンチャットはLINE ID共有なしで、<br>
                           他のユーザーと趣味及び生活密着型情報を<br>
                           リアルタイムメッセージで共有できるサービスです。<br>
                        </p>
                        <div class = "button">
                            <a href="http://openchat-blog.line.me/"><img src="../../static/img/service_button.png" alt="サービスを調べる" height="36" border="0"></a>
                       </div>
               </div>
           </div>
           <hr width = "80%", color = "#C4C4C4" noshade />
           <div class = "help-section">
               <div class = "title">    
                   <h2>ヘルプ</h2>
               </div>
               <div class = "help-description">
                   <p>コンテストに関するお問い合わせは下記までご連絡ください。</p>
                   <div class = "button">
                       <a href="http://nav.cx/ghnRWDr"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
                   </div>
               </div>
           </div>
    </body>
</html>
