.page-header {
    background-color: #00DB6F;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    height: 300px;
    font-family : 'Noto Sans JP', sans-serif;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 48pt;
    text-decoration: none;
    font-family : 'Noto Sans JP', sans-serif;
}

.event-section h2 {
    padding: 20px 0px 20px 40px;
    height: 60px;
    font-size: 32pt;
    text-decoration: none;
    font-family : 'Noto Sans JP', sans-serif;
}

.event-description-1 {
    padding: 20px 0px 20px 40px;
    text-decoration: none;
    font-family : 'Noto Sans JP', sans-serif;
}

.event-description-1 p {
    font-size : 12pt;
    text-decoration: none;
    font-family : 'Noto Sans JP', sans-serif;
}

.event-description-2 {
    padding : 20px 0px 20px 40px;
    font-size : 12pt;
    text-decoration: none;
    line-height : 200%;
    font-family : 'Noto Sans JP', sans-serif;
}
